<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include ('partials/head') %>
</head>

<body>
   <%- include ('partials/navigation') %>

<div class="container">
    <header class="row">
       <div class="col-lg-12 text-center">
           <img src="/img/pews-logo.png" class="animate__animated animate__bounceIn" alt="Pews">
       </div>
    </header>
</div>


<!-- section one -->
<div class="container-fluid" id="about">
   <div class="row bg-dark text-white p-5 text-center">
       <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
       </div>
       <div class="col-sm-6">
           <h3>The most suscribed youtuber</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima accusantium rerum enim inventore beatae numquam veniam, mollitia explicabo quas facere quaerat dolores. Nisi a consectetur totam consequatur voluptatum earum reprehenderit.</p>
    </div>
   </div>
</div>

<%- include('partials/footer') %>

   
   <%- include('partials/scripts') %>
</body>

</html>